<a href="https://colab.research.google.com/github/isacki/learning-git/blob/master/1_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/isacki/ai3project/master/owid-covid-data.csv?token=AJ5EKDWMALGLUJD2RAE2G6K7C7UPW');

print(data)

      iso_code continent  ... hospital_beds_per_thousand life_expectancy
0          AFG      Asia  ...                        0.5           64.83
1          AFG      Asia  ...                        0.5           64.83
2          AFG      Asia  ...                        0.5           64.83
3          AFG      Asia  ...                        0.5           64.83
4          AFG      Asia  ...                        0.5           64.83
...        ...       ...  ...                        ...             ...
31700      NaN       NaN  ...                        NaN             NaN
31701      NaN       NaN  ...                        NaN             NaN
31702      NaN       NaN  ...                        NaN             NaN
31703      NaN       NaN  ...                        NaN             NaN
31704      NaN       NaN  ...                        NaN             NaN

[31705 rows x 34 columns]